.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 94px;
}

.header__menu ul {
  width: 391px;
  display: flex;
  justify-content: center;
  gap: 26px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  list-style: circle;
}

li:first-child {
  list-style-type: none;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header .address {
  justify-self: end;
}

.cover {
  padding-bottom: 50px;
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background-color: black;
  opacity: 60%;
  inset: 0;
  position: absolute;
  pointer-events: none;
}

.cover__title {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 27px;
  margin: 0 auto;
  padding-top: 160px;
}

.aligned-text_left {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  z-index: 1;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  margin-right: -20px;
  z-index: 1;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: -20px;
  z-index: 1;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 50px;
  margin-top: 100px;
}

.cover__description-text {
  width: 637px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  border-color: #fff;
  cursor: pointer;
  z-index: 1;
}

.lots {
  display: flex;
  flex-direction: column;
  width: 1052px;
  margin: 180px 24px 0;
}

.lots__heading {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  list-style: none;
  width: 1052px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  width: 254px;
  min-height: 500px;
  margin: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card__title {
  height: 100%;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  z-index: 1;
}

.card__text {
  margin-top: auto;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  position: relative;
  display: inline-block;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  width: 1052px;
  margin: 120px 24px 180px;
  display: grid;
  grid-template-columns: 334px auto;
}

.about__column_left {
  display: flex;
  justify-content: center;
}

.about__logo {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column_right {
  margin: 133px 24px 0;
}

.about__title {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 100px;
}

.footer {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.footer__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 163.9px;
  justify-self: center;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  width: 240px;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}

.footer__social-list-item {
  width: 48px;
}
